.ActionText1,
.ActionText2 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Raw";
    letter-spacing: 4px;
}

.tl2Text,
.tl2Text2 {
    font-size: 44px;
    color: black;
}

.split,
.star,
.ActionText2 {
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
}

.tl2Text2 {
    display: none;
}

.text__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ti1 {
    margin-bottom: 5px;
}

.ti3 {
    margin-top: 5px;
}

.SectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.CircleGroup {
    will-change: transform;
  }
  


